<div class="landing">
  <div class="info-panel">
    <!-- Add your content here later -->
    <h2 id="welcome"><span class="highlight">Introduction</span></h2>
    <p class="intro">Hi my name is <span class="highlight">Trien Luan Ngu</span>, you can refer to me as <span class="highlight">Logan</span> </p>
    <p class="intro">I'm an international student from <span class="highlight">Vietnam</span> studying <span class="highlight">Computer Science</span> at Monash University in Melbourne.
      I build practical products that feel fast and intuitive—usually with <span class="highlight">Angular/TypeScript</span> on the front end and <span class="highlight">Node/Django</span> on the back end, plus <span class="highlight">MongoDB</span> when I want to move quickly.
      On mobile, I work in <span class="highlight">Kotlin/Jetpack Compose</span>. I care about clean architecture, readable tests, and shipping small improvements often. I’ve created and contributed to multiple projects
      across web, mobile, and game development, focusing on real users, performance, and maintainability.
      I’m actively seeking <span class="highlight">internships</span> or part-time <span class="highlight">SWE roles</span>—if you’re building something users love, I’d love to help.</p>

    <h2 id="project"><span class="highlight">Projects</span></h2>
    <app-projects></app-projects>

    <h2 id="experience"><span class="highlight">Experience</span></h2>
    <app-experience></app-experience>

  </div>
</div>
